{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    width: 80%;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
  }

  .font-md {
    font-size: 21px;
  }

  .main-area {
    display: flex;
    justify-content: space-between;
  }

  .topics {
    width: 10%;
  }

  .room-section {
    width: 60%;
  }

  .activity-feed {
    width: 20%;
  }

  .page-title {
    text-align: center;
    font-size: 35px;
  }
</style>

<div class="home-container">
  <h1 class="page-title">Welcome Home</h1>
  <div class="main-area">
    <div class="topics">{% include 'base/topics_component.html' %}</div>

    <div class="room-section">
      <h5 class="font-md">{{room_count}} Available Rooms</h5>
      <a class="font-md" href="{% url 'create-room' %}">Create Room</a>

      {% include 'base/feed_component.html' %}
    </div>

    <div class="activity-feed">
      {% include 'base/activity_component.html' %}
    </div>
  </div>
</div>

{% endblock content %}
